<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.itwillbs.mapper.ChattingMapper">
  
	<!-- 채팅 게시글 list 가져오기 -->
	<select id="getChatGroupList" resultType="ChatGroupVO">
		select * from chatgroup
		order by chat_no desc
	</select>
	


	<!-- 자신을 뺀 모든 유저 리스트 가져오기 -->
	<select id = "getUserList" resultType = "MemberVO" parameterType="String">
		select * from member where userid != #{userid}
	</select>
	
	
	
	<!-- 채팅 게시글 등록 시 Alarm 테이블에도 등록 -->
	<insert id = "insertAlarm" parameterType="String">
		INSERT INTO alarm (userid, alarm_type, alarm_cdate, alarm_prefix, chat_No) 
		VALUES (#{userid}, 'new_chat', NOW(), '${sender_name}님의 게시글 등록', #{chat_no});
	</insert>
	
	
	
	<!-- 채팅 게시글 등록 쿼리 -->
	<insert id="insertChat" parameterType="ChatGroupVO" useGeneratedKeys="true" keyProperty="chat_no">
	    INSERT INTO chatgroup (chat_title, userid, chat_date, user_name)
	    VALUES (#{chat_title}, #{userid}, NOW(), #{user_name})
	</insert>
	
	
	
	<!-- 채팅 멤버 추가 쿼리 -->
	<insert id = "addChatMember" parameterType="ChatGroupVO">
		insert into chatmember
		values(#{chat_no}, #{userid}, #{user_name}, #{auth_role}, 0)
	</insert>
	
	
	
	<!-- 해당 아이디에 대한 안읽은 alarm 리스트 가져오기 -->
	<select id = "getAlarmInfo" parameterType="String" resultType="AlarmVO">
		select * from alarm where userid = #{userid}
	</select>	
	
	
	
	<!-- 읽은 알람 지우기 쿼리 -->
	<delete id = "deleteAlarm" parameterType = "int">
		delete from alarm where alarm_no = #{alarm_no}
	</delete>
	
	
	
	<!-- 채팅 가입하기 쿼리 -->
	<insert id = "joinChatGroup" parameterType="ChatMemberVO">
		insert into chatmember 
		values (#{chat_no}, #{userid}, #{user_name}, #{auth_role}, 0)
	</insert>
	
	
	
	
	



</mapper>