<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.GoodsMapper">
	<!-- 글목록 조회(최신글10개) -->
	<select id="selectGoodsList" resultType="GoodsVO"> 
		select * from GOODS 
		order by goods_id desc
	</select>
	
	<select id="selectGoodsInfo" resultType="GoodsVO">
		select * from GOODS
		where goods_id = #{goods_id}
	</select>
	
	<select id="selectSearchList" parameterType="GoodsVO" resultType="GoodsVO">
		select * from GOODS
		where replace(goods_title," ","") like concat('%', #{keyword}, '%')
		<if test="category != null">
        and category like concat ('%', #{category}, '%')
    	</if>
		order by goods_id desc
	</select>
	
	<select id="selectCateList" parameterType="GoodsVO" resultType="GoodsVO">
		select * from GOODS
		where category = #{category}
		order by goods_id desc
	</select>
	
	<select id="selectNewGoodsId" resultType="int">
		select max(Goods_id)+1
		from GOODS
	</select>
	
	<insert id="insertImageInfo" parameterType="GoodsImgVO">
		insert into GOODS_IMG(goods_id,goods_img)
		values(#{goods_id}, #{goods_img})
	</insert>
	
	<insert id="insertGoodsInfo" parameterType="GoodsVO">
		insert into 
		GOODS(goods_id, userid, category, goods_title, status, goods_info, goods_repimg, start_price, instant_price, area,transact_type,auction_time)
		values(#{goods_id}, #{userid}, #{category}, #{goods_title}, #{status}, #{goods_info}, #{goods_repimg}, #{start_price}, ${instant_price}, #{area}, #{transact_type}, #{auction_time})
	</insert>
	
	<select id="selectImgList" parameterType="integer" resultType="String">
		select GOODS_IMG
		from GOODS_IMG
		where goods_id = #{goods_id}
	</select>
	
	<select id="selectRegdate" parameterType="integer" resultType="java.sql.Timestamp">
		select regdate
		from GOODS
		where goods_id = #{goods_id}
	</select>
	
	<update id="updateCurrentPrice" parameterType="GoodsVO">
		update GOODS set current_price = #{current_price}
		where goods_id = #{goods_id}
	</update>
	
	<select id="selectNowPrice" parameterType="Int" resultType="Int">
		select current_price
		from GOODS
		where goods_id = #{goods_id}
	</select>
	
	<select id="FakeVO" resultType="FakeVO">
		SELECT GOODS_TITLE, CURRENT_PRICE
		FROM GOODS
	</select>
</mapper>