<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.PayMapper">

	<!-- 페이 아이디 생성 -->
	<insert id="insertMemberPay" parameterType="PayVO">
		insert into PAY(PAY_ID, USERID)
		values(#{PAY_ID}, #{USERID})
    </insert>
    
	<!-- 페이 결제(충전) -->
	<!-- 현제 페이 금액 조회 -->
	<select id="getMemberPay" resultType="com.itwillbs.pay.PayVO">
    	select * from PAY 
    	where USERID = #{USERID}
    </select>
	
	<!-- 결제 정보 저장 -->
	<insert id="insertPayInfo" parameterType="PayInfoVO">
		insert into PAYINFO 
		values(#{PAY_ID}, #{USER_ID}, #{PAY_TYPE}, #{PAY_STATE}, #{PAY_AMOUNT}, #{CHARGE_TYPE}, NULL, NULL, NULL, NULL, NOW(), NOW())
	</insert>
	
	<!-- 페이 충전 금액 저장 -->
	<update id="updatePay">
		update PAY set PAY_BALANCE = PAY_BALANCE + #{PAY_AMOUNT}
		where USERID = #{USER_ID};
	</update>
	
	<!-- 페이 정보 조회 -->
	<select id="selectPayInfo" resultType="com.itwillbs.pay.PayInfoVO">
	    select * from PAYINFO
    	where USERID = #{USERID}
	</select>
	
	<!-- 페이 환불 -->
	<!-- 환불 정보 저장 -->
	<insert id="insertPayInfoRefund" parameterType="PayInfoVO">
		insert into PAYINFO 
		values(#{PAY_ID}, #{USER_ID}, #{PAY_TYPE}, #{PAY_STATE}, #{PAY_AMOUNT}, NULL, NULL, #{BANK}, #{ACCOUNT}, #{ACCOUNT_HOLDER}, NOW(), NULL)
	</insert>
	
	<!-- 페이 환불 금액 저장 -->
	<update id="updatePayRefund">
		update PAY set PAY_BALANCE = PAY_BALANCE - #{PAY_AMOUNT}
		where USERID = #{USER_ID};
	</update>


</mapper>